<div id="background" >
  <mat-card class="shipping-card">
    <mat-card-content class="card-content">
      <div class="row row-content ">
        <div class="col">
          <form [formGroup]="loginForm" validate (ngSubmit)="onSubmit()">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Login Página Administrativa</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Correo</mat-label>
                  <input matInput placeholder="email@example.com" formControlName="email" [(ngModel)]="email" >
                  <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                    El campo categoría es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">
                    El correo ingresado es <strong>inválido</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide; $event.preventDefault()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                    El campo de contraseña es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
                
              </mat-card-content>
              <mat-card-actions>
                <button class="full-width" mat-raised-button color="primary" type="submit">Iniciar sesión</button>
              </mat-card-actions>
            </mat-card>
          </form>
        </div>
        <div class="col" [fxHide.xs]="true" [fxHide.sm]="true" >
          <div class="row">
            <div class="col">
              <img mat-card-image src="../../../assets/img/personlogin.png" >
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
